%% -*- mode:erlang -*-

{erl_opts, [debug_info]}. %% debug_info needed by dialyzer

{deps, [ espace ]}.

{escript_incl_apps,
 [tsudoku]}.

{escript_main_app, tsudoku}.
{escript_name, tsudoku}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
